html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}
.top {
  position: fixed;
  left:0px; right:0px;
  height: 92px;
  z-index: 2;
}
.header {
  position: absolute;
  height: 100%;
  left: 157 - 80px;
  color: white;
}
#hr-header-top {
  position: absolute;
  color: white;
  left: 0;
  width: 100%;
  margin: 0;
}
#hr-header-bot {
  @extend #hr-header-top;
  bottom: 0 !important;
}
.left {
  position: fixed;
  left:0px; top:0px; bottom: 0;
  width: 55px;
  z-index: 3;
  height: 100%;
}
.main {
  position: relative;
  float: right;
  left: 20px; top:92px; right:0; bottom:0;
  height: 100%;
  width: 100%;
  overflow: visible;
}
#main-content {
  position: relative;
  left: 157-20px;
  height: 100%;
}

.top { background: rgba(11, 11, 33, 0.89); }
.left { /*background: black; */ }
.main {  background: gray;  }

#side-bar-icon{
  color: white;
}
#side-bar-icon:hover {
  color: #ADD8E6;
}
.icons {
  position: absolute;
  text-align: center;
  left: 20px; top:0px; bottom: 0;
  background: black;
  width: 100%;
  height: 100%;
}
#toggle{
  text-align: center;
  color: white;
}
.toggleBar {
  position: absolute;
  left:0; top:0px; bottom: 0;
  width: 20px;
  text-align: center;
  background: #191919;
}
.noSpace {
  content: " ";
  display: block;
  margin: 0px 0;
  padding: 0px 0;
}
.offWhite {
  color: #DEDEDE;
}
p.offWhite {
  font-size: 10px;
}
.icon-group {
  background: black;
}
.icon-group-active {
  background: #323232;
}
a {
  color: inherit;
}
.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.verticalLine {
  position: absolute;
  right: -2px; top:0px; bottom: 0;
  background: #580000;
  color: #580000;
  width: 2px;
}


.fa {
  margin:0;
  padding:0;
}
hr {
  margin:0;
  padding:0;
}
span.side-bar-text {
  font-size: 35%;
}
p {
  display: inline;
  margin:0;
  padding:0;
}
* {
  font-family: Verdana, Geneva, sans-serif;
}
@media screen and (max-device-width: 676px) {
  h1#header-text {
    font-size: 33px;
  }
}
// .footer {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 1rem;
//   background-color: #efefef;
//   text-align: center;
// }
// #hr-footer-top{
//   height: 50px;
//
// }
