.top {
  position: absolute;
  left:0; right:0;
  height: 92px;
}
.left {
  position: absolute;
  left:0px; top:0px; bottom: 0;
  width: 100px;
}
.main {
  position: absolute;
  left:20px; top:92px; right:0; bottom:0;
}

.top { background: blue; }
.left { /*background: black; */ }
.main { background: yellow; }

#side-bar-icon{
  color: white;
}
.icons {
  position: absolute;
  text-align: center;
  left: 15px; top:0px; bottom: 0;
  background: black;
}
.toggleBar {
  position: absolute;
  left:0; top:0px; bottom: 0;
  width: 20px;
  background: #191919;
}
