.top {
  position: fixed;
  left:0px; right:0px;
  height: 92px;
}
.header {
  position: absolute;
  height: 100%;
  left: 157 - 80px;
  color: white;
}
#hr-header-top {
  position: absolute;
  color: white;
  left: 0;
  width: 100%;
  margin: 0;
}
#hr-header-bot {
  @extend #hr-header-top;
  bottom: 0 !important;
}
.left {
  position: fixed;
  left:0px; top:0px; bottom: 0;
  width: 55px;
  z-index: 1;
  height: 100%;
}
.main {
  position: absolute;
  left: 20px; top:92px; right:0; bottom:0;
}
#main-content {
  position: absolute;
  left: 157-20px;
}

.top { background: rgba(11, 11, 33, 0.89); }
.left { /*background: black; */ }
.main {  background: gray;  }

#side-bar-icon{
  color: white;
}
#side-bar-icon:hover {
  color: blue;
}
.icons {
  position: absolute;
  text-align: center;
  left: 20px; top:0px; bottom: 0;
  background: black;
  width: 100%;
  height: 100%;
}
#toggle{
  text-align: center;
  color: white;
}
.toggleBar {
  position: absolute;
  left:0; top:0px; bottom: 0;
  width: 20px;
  text-align: center;
  background: #191919;
}
.noSpace {
  content: " ";
  display: block;
  margin: 0px 0;
  padding: 0px 0;
}
.offWhite {
  color: #DEDEDE;
}
p.offWhite {
  font-size: 10px;
}
.icon-group {
  background: black;
}
.icon-group-active {
  background: #323232;
}
a {
  color: inherit;
}
.verticalLine {
  position: absolute;
  right: -2px; top:0px; bottom: 0;
  background: #580000;
  color: #580000;
  width: 2px;
}
html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
body {
  position: relative;
}
.fa {
  margin:0;
  padding:0;
}
hr {
  margin:0;
  padding:0;
}
span.side-bar-text {
  font-size: 35%;
}
p {
  display: inline;
  margin:0;
  padding:0;
}
* {
  font-family: Verdana, Geneva, sans-serif;
}
@media screen and (max-device-width: 676px) {
  h1 {
    font-size: 33px;
  }
}
