<div class="top">

</div>

<div class="left">
  <div id="toggleBar" class="toggleBar"></div>
  <div class="icons">
    <br/>
    <i id="side-bar-icon" class="fa fa-home fa-5x" aria-hidden="true" title="Home"></i>

    <i id="side-bar-icon" class="fa fa-github fa-5x" aria-hidden="true" title="GitHub"></i>
    <div style="line-height:25%;"><br></div>

    <i id="side-bar-icon" class="fa fa-twitter fa-5x" aria-hidden="true" title="Twitter"></i>
    <div style="line-height:70%;"><br></div>

    <i id="side-bar-icon" class="fa fa-file fa-5x" aria-hidden="true" title="Resume"></i>
    <div style="line-height:150%;"><br></div>

    <i id="side-bar-icon" class="fa fa-futbol-o fa-5x" aria-hidden="true" title="Hobbies"></i>
    <div style="line-height:150%;"><br></div>

    <i id="side-bar-icon" class="fa fa-university fa-5x" aria-hidden="true" title="Skills"></i>
  </div>
  <div class="verticalLine">
  </div>

</div>
</div>
