<div class="top">

</div>
<div class="toggleBar">adfasd</div>
<div class="left">

  <div class="icons">
    <br/>
    <i id="side-bar-icon" class="fa fa-home fa-5x" aria-hidden="true" title="Home"></i>
    <br/>
    <br/>
    <br/>
    <br/>
    <i id="side-bar-icon" class="fa fa-github fa-5x" aria-hidden="true" title="GitHub"></i>
    <br/>
    <i id="side-bar-icon" class="fa fa-twitter fa-5x" aria-hidden="true" title="Twitter"></i>
    <br/>
    <i id="side-bar-icon" class="fa fa-file fa-5x" aria-hidden="true" title="Resume"></i>
    <br/>
    <br/>
    <i id="side-bar-icon" class="fa fa-futbol-o fa-5x" aria-hidden="true" title="Hobbies"></i>
    <br/>
    <br/>
    <i id="side-bar-icon" class="fa fa-university fa-5x" aria-hidden="true" title="Skills"></i>
  </div>
  <div class="verticalLine">
  </div>

</div>
</div>
