<div class="top">
  <hr id="hr-header-top" />
  <div class="header">
    <h1 id="header-text">athammer.me</h1>

  </div>
  <hr id="hr-header-bot" />
</div>

<div class="left">

  <div class="icons">
    <div class="icon-container">

      <div class="icon-group-home">
        <div style="line-height:35%;"><br></div>
        <a href="/"><i id="side-bar-icon" class="fa fa-home fa-3x" aria-hidden="true" title="Home"><span id="home"></span></i></a>
        <div style="line-height:15%;"><br></div>
        <hr>
      </div>



      <div class="icon-group-about">
        <div style="line-height:100%;"><br></div>
        <a id="a-about" href="/about"><i id="side-bar-icon" class="fa fa-user-o fa-3x" aria-hidden="true" title="About Me"><span id="about"></span></i></a>
        <div style="line-height:100%;"><br></div>
      </div>



      <div class="icon-group-git">
        <hr>
        <div style="line-height:100%;"><br></div>
        <a id="a-git" href="https://github.com/athammer" target="_blank"><i id="side-bar-icon" class="fa fa-github fa-3x" aria-hidden="true" title="GitHub"><span id="git"></span></i></a>
      </div>


      <div class="icon-group-linkedin">
        <a id="a-linkedin" href="https://www.linkedin.com/in/aaron-hammer-01171b136" target="_blank"><i id="side-bar-icon" class="fa fa-linkedin fa-3x" aria-hidden="true" title="LinkedIn"><span id="linkedin"></span></i></a>
      </div>


      <div class="icon-group-twitter">
        <a id="a-twitter" href="https://twitter.com/_athammer" target="_blank"><i id="side-bar-icon" class="fa fa-twitter fa-3x" aria-hidden="true" title="Twitter"><span id="twitter"></span></i></a>
        <div style="line-height:100%;"><br></div>
        <hr>
      </div>



      <div class="icon-group-resume">
        <div style="line-height:100%;"><br></div>
        <a id="a-resume" href="/resume" target="_blank"><i id="side-bar-icon" class="fa fa-address-card-o fa-3x" aria-hidden="true" title="Resume"><span  id="resume"></span></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-projects">
        <a id="a-projects" href="/projects"><i id="side-bar-icon" class="fa fa-code fa-3x" aria-hidden="true" title="Projects"><span id="projects"></span></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-hobbies">
        <a id="a-hobbies" href="/hobbies"><i id="side-bar-icon" class="fa fa-futbol-o fa-3x" aria-hidden="true" title="Hobbies"><span id="hobbies"></span></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-skills">
        <a id="a-skills" href="/skills"><i id="side-bar-icon" class="fa fa-cogs fa-3x" aria-hidden="true" title="Skills"><span id="skills"></span></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-contact">
        <a id="a-contact" href="/contact"><i id="side-bar-icon" class="fa fa-paper-plane-o fa-3x" aria-hidden="true" title="Contact Me"><span id="contact"></span></i></a>
      </div>
      <div class="verticalLine"></div>
    </div>

  </div>

  <div id="toggleBar" class="toggleBar">
    <i id="toggle" class="fa fa-toggle-on" aria-hidden="true"></i>
  </div>
</div>

</div>
</div>
