<div class="top">

</div>

<div class="left">

  <div class="icons">
    <div class="icon-container">

      <div class="icon-group-home">
        <div style="line-height:45%;"><br></div>
        <a href="/"><i id="side-bar-icon" class="fa fa-home fa-5x" aria-hidden="true" title="Home"></i></a>
        <p class="noSpace offWhite" >HOME</p>
      </div>
      <div style="line-height:135%;"><br></div>


      <div class="icon-group-about">
        <a href="/about"><i id="side-bar-icon" class="fa fa-user-circle-o fa-5x" aria-hidden="true" title="About Me"></i></a>
        <p class="noSpace offWhite" >ABOUT ME</p>
      </div>
      <div style="line-height:135%;"><br></div>


      <div class="icon-group-git">
        <a href="https://github.com/athammer" target="_blank"><i id="side-bar-icon" class="fa fa-github fa-5x" aria-hidden="true" title="GitHub"></i></a>
        <p class="noSpace offWhite" >GITHUB</p>
      </div>
      <div style="line-height:25%;"><br></div>


      <div class="icon-group-twitter">
        <a href="https://twitter.com/_athammer" target="_blank"><i id="side-bar-icon" class="fa fa-twitter fa-5x" aria-hidden="true" title="Twitter"></i></a>
        <p class="noSpace offWhite" >TWITTER</p>
      </div>
      <div style="line-height:70%;"><br></div>


      <div class="icon-group-resume">
        <a href="/resume" target="_blank"><i id="side-bar-icon" class="fa fa-id-card-o fa-5x" aria-hidden="true" title="Resume"></i></a>
        <p class="noSpace offWhite" >RESUME</p>
      </div>
      <div style="line-height:150%;"><br></div>


      <div class="icon-group-hobbies">
        <a href="/hobbies"><i id="side-bar-icon" class="fa fa-futbol-o fa-5x" aria-hidden="true" title="Hobbies"></i></a>
        <p class="noSpace offWhite" >HOBBIES</p>
      </div>
      <div style="line-height:150%;"><br></div>


      <div class="icon-group-skills">
        <a href="/skills"><i id="side-bar-icon" class="fa fa-university fa-5x" aria-hidden="true" title="Skills"></i></a>
        <p class="noSpace offWhite" >SKILLS</p>
      </div>
    </div>
    <div class="verticalLine"></div>
  </div>

  <div id="toggleBar" class="toggleBar">
    <i id="toggle" class="fa fa-toggle-on" aria-hidden="true"></i>
  </div>
</div>

</div>
</div>
