<div class="top">

</div>

<div class="left">

  <div class="icons">
    <div class="icon-container">

      <div class="icon-group-home">
        <div style="line-height:35%;"><br></div>
        <a href="/"><i id="side-bar-icon" class="fa fa-home fa-3x" aria-hidden="true" title="Home"></i></a>
        <div style="line-height:15%;"><br></div>
        <hr>
      </div>
      <div style="line-height:100%;"><br></div>


      <div class="icon-group-about">
        <a href="/about"><i id="side-bar-icon" class="fa fa-user-o fa-3x" aria-hidden="true" title="About Me"></i></a>
      </div>
      <div style="line-height:100%;"><br></div>


      <div class="icon-group-git">
        <hr>
        <a href="https://github.com/athammer" target="_blank"><i id="side-bar-icon" class="fa fa-github fa-3x" aria-hidden="true" title="GitHub"></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-twitter">
        <a href="https://twitter.com/_athammer" target="_blank"><i id="side-bar-icon" class="fa fa-twitter fa-3x" aria-hidden="true" title="Twitter"></i></a>
        <hr>
      </div>
      <div style="line-height:100%;"><br></div>


      <div class="icon-group-resume">
        <a href="/resume" target="_blank"><i id="side-bar-icon" class="fa fa-address-card-o fa-3x" aria-hidden="true" title="Resume"></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-hobbies">
        <a href="/hobbies"><i id="side-bar-icon" class="fa fa-futbol-o fa-3x" aria-hidden="true" title="Hobbies"></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-skills">
        <a href="/skills"><i id="side-bar-icon" class="fa fa-cogs fa-3x" aria-hidden="true" title="Skills"></i></a>
      </div>
      <div style="line-height:50%;"><br></div>


      <div class="icon-group-contact">
        <a href="/contact"><i id="side-bar-icon" class="fa fa-paper-plane-o fa-3x" aria-hidden="true" title="Contact Me"></i></a>
      </div>
    </div>
    <div class="verticalLine"></div>
  </div>

  <div id="toggleBar" class="toggleBar">
    <i id="toggle" class="fa fa-toggle-on" aria-hidden="true"></i>
  </div>
</div>

</div>
</div>
