<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
</head>

<body>
    <% include ../../partials/header %>


    <div class="jumbotron">
        <div class="container">
            <h1>13chan</h1>
            <h2>anonymous interactive imageboard</h2>
        </div>
    </div>
    <hr>
    <h2><b>Design Philosophy:</b></h2>
    <h3>
        <p>
        13chan is a unique website, it hopes to be fluid and fast while being more modern.
        User creativity is incredibly important and will be front and focus.
        To be able to tap into user's creativity we will put first user's power over the website.
        Letting users create and modify their own boards, posts, and accounts is a tremendous goal post of this website.
        </p>
    </h3>
    <br>
    <h2><b>Estimated Time Frame:</b></h2>
    <h3>
        <p>
        Currently TBD
        </p>
    </h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>