<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
</head>

<body>
    <% include ../../partials/header %>
    <div class="jumbotron">
        <div class="container">
            <h1>Personal Website</h1>
            <h2>athammer.me</h2>
        </div>
    </div>
    <hr>
    <h2><b>Design Philosophy:</b></h2>
    <h3>
        <p>
           The philosophy of the website was to advertise my projects and intrest to the world.
           Was created to be lightweight and informative site that is quick to the point and easy to read.
        </p>
    </h3>
    <br>
    <h2><b>Estimated Time Frame:</b></h2>
    <h3>
        <p>
        Currently a rolling development so it will be developed as I see fit.
        </p>
    </h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>