<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
</head>

<body>
    <% include ../../partials/header %>
    <div class="jumbotron">
        <div class="container">
            <h1>Eagle Scout Project</h1>
            <h2></h2>
        </div>
    </div>
    <hr>
    <h2><b>The Project:</b></h2>
    <h3>
        <p>
            The project consited of three major steps, the plan, the organization and preparation, and finally the execution.
            The goal of the project was to erect a 25 foot flagpole and a small stone pit at the Hull House foundation which is a nonprofit historical site.
        </p>
    </h3>
    <br>
    <h2><b>The Plan:</b></h2>
    <h3>
        <p>

        </p>
    </h3>
    <br>
    <h2><b>Organization and Preparation:</b></h2>
    <h3>
        <p>

        </p>
    </h3>
    <br>
    <h2><b>Execution:</b></h2>
    <h3>
        <p>
            
        </p>
    </h3>
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>