<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
</head>

<body>
    <% include ../../partials/header %>
    <div class="jumbotron">
        <div class="container">
            <h1>Electro Legion Chrome Extension</h1>
            <h2>Roblox Automated Script for Groups</h2>
        </div>
    </div>
    <hr>
    <h2><b>Design Philosophy:</b></h2>
    <h3>
        <p>
            The exention was created to let users know of when new content they would like to see.
            It automated in a timely fashion the user's task of checking a page to see if important information was posted.
            It was tasked with sending a quick, informative, usable and non disruptive message to users as fast as possible.
        </p>
    </h3>
    <br>
    <h2><b>Estimated Time Frame:</b></h2>
    <h3>
        <p>
        Completed but currently possibly broken. Will most likely will not be updated unless requested.
        </p>
    </h3>
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>