<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Me | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>About Me</h1>
      <h3 class="extraLineH">
        I'm a twenty year old from buffalo going to school at University at Buffalo, graduating from High School in 2015 from Alden Central Schools. I'm a passionate, relaxed, and sporadic character that you can often see on the computer programming, playing games or talking with friends. My golden lab Belle helps time go by when I’m stuck trying to figure out why my app on AWS’s beanstalk doesn’t deploy, or when I can’t get user’s sessions from destroying on refresh. My mission in life is to become a competent software engineer, the type that knows why the answers work on stackoverflow rather than just knowing the answer. I hope to accomplish this through hard work, schooling, and outside work. If you wish to know more about me or what I do explore the website further, hope you enjoy!


        <br />
        <br />
        <br />
        My partner Belle
        <br />
        <img src="/static/img/doggo.jpg" alt="dog" height="350px">
      </h3>

    </div>

  </div>


  <% include ../partials/footer %>
</body>

</html>
