<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer | About Me</title>
    <% include ../partials/scripts %>
    <% include ../partials/style %>
</head>

<body>
    <h1 class="text-center"><a href='/'>Home</a></h1>
    <h1 class="text-center">About Me</h1>
    <br>
    <h2 class="text-center">Activities</h2>
    <p class="text-center">Day Trading</p>
    <p class="text-center">Programming</p>
    <p class="text-center">Video Games</p>
</body>

</html>