<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>Contact Me</h1>
      <h3>Please use the form below or my email</h3>
      <h3>Form will not be implemented till I add captcha or something or the sort.</h3>
      <span class="reverse">ude.olaffub@remmahta</span>
      <p>
        or
      </p>
      <a href = "mailto:athammer@buffalo.edu" onclick = "this.href=this.href.replace(/AT/,'&#64;').replace(/DOT/,'&#46;')">Launch Mail App</a>
    </div>
  </div>
  <% include ../partials/footer %>




</body>

</html>
