<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hobbies | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>Hobbies</h1>
      <h3>Piano</h3>
      <h3>Programming</h3>
      <h3>Video Games</h3>
      <h3>Mechanical KeyBoards</h3>

    </div>
  </div>
  <% include ../partials/footer %>
</body>

</html>
