<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hobbies | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>Hobbies</h1>

      <h3>Piano</h3>
      <hr class="no-margin"/>
      <br />
      <div class="text-left no-margin">
        <img class="img-left" src="/static/img/piano.jpg" alt="fixedComp" height="150px">
      </div>

      <br />

      <h3>Programming</h3>
      <hr class="no-margin"/>
      <br />
      <div class="text-left no-margin">

      </div>

      <br />

      <h3>Video Games</h3>
      <hr class="no-margin"/>
      <br />
      <div class="text-left no-margin">
        <img class="img-left" src="/static/img/fulldesk.jpg" alt="fulldesk" height="150px">
      </div>

      <br />

      <h3>Building and Fixing PCs</h3>
      <hr class="no-margin"/>
      <br />
      <div class="text-left no-margin">
        <img class="img-left" src="/static/img/fixedComp.jpg" alt="fixedComp" height="150px">
        <img class="img-left" src="/static/img/tower1.jpg" alt="tower1" height="150px">
        <img class="img-left" src="/static/img/tower2.jpg" alt="tower2" height="150px">
      </div>

      <br />

      <h3>Mechanical KeyBoards</h3>
      <hr class="no-margin"/>
      <br />
      <div class="text-left no-margin">
        <img class="img-left" src="/static/img/keyboard.jpg" alt="keyboard" height="150px">
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
</body>

</html>
