<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../partials/scripts %>
    <% include ../partials/style %>
</head>

<body>
    <h1 class="text-center">Aaron T Hammer</h1>
    <br>
    <div class="picwrapper">
        <a href="/about"><img  src="/img/aboutme.png" alt="About Me"></a>
        <a href="https://github.com/athammer"><img  src="/img/github.png" alt="GitHub"></a>
        <a href="/download"><img  src="/img/resume.png"></a>
    </div>
    <p class="text-center">Still under construction as I get better with graphic design and the front end.</p>
    <p class="text-center">Website built on node.js, hosted on AWS, and using bootstrap.</p>
</body>

</html>