<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../partials/scripts %>
    <% include ../partials/style %>
</head>

<body>
    <% include ../partials/header %>
    <div class="page-header text-center">
        <h1>Aaron Taylor Hammer</h1>
        <h4><a class="github-button" href="https://github.com/athammer" data-style="mega" data-count-href="/athammer/followers" data-count-api="/users/athammer#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @athammer on GitHub">Follow @athammer</a></h4>
        <h4><a href="https://twitter.com/_athammer" class="twitter-follow-button" data-show-count="false">Follow @_athammer</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></h4>
    </div>

    <p class="text-center">Still under construction as I get better with graphic design and the front end.</p>
    <p class="text-center">Moved to Heroku(sorry if it loads slower) instead of AWS to lower costs for my other AWS hosted projects</p>
    <p class="text-center">Website built on node.js, <del>hosted on AWS</del> heroku, and using bootstrap.</p>
    <p class="text-center">Next step for website is to make it look less 'bootstrapy'.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>