<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>


  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>Welcome to Aaron Hammer's Website!</h1>
      <h3>
        Navigating the website using the bar on the left and enjoy your visit.
      </h3>

    </div>

  </div>


  <% include ../partials/footer %>
</body>

</html>
