<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Aaron Taylor Hammer</title>
    <% include ../partials/scripts %>
    <% include ../partials/style %>
</head>

<body>


    <% include ../partials/header %>
    <div class="main">
      <div id="main-content">
        <h1>Welcome to Aaron Hammer's Website!</h1>
        <p>
          Website will be update around my school shedule.
          Website is hosted on heroku to not occur payments from AWS.
          Other tabs will be created and filled soon, in the meantime check out my github and resume for more information!
          This site was created with mobile in mind, works best with any screen larger then an iPhone 5 (resolution 375px x 550px and up) in portrait mode
        </p>


      </div>
      <% include ../partials/footer %>

    </div>


    <% include ../partials/footer %>
</body>

</html>
