<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../partials/scripts %>
    <% include ../partials/style %>
</head>

<body>


    <% include ../partials/header %>
    <div class="main">
      <div id="main-content">
        <h1>Aaron Taylor Hammer's personal website</h1>
        <p>
          Website will be update around my school shedule.
          Website is hosted on heroku to not occur payments from AWS.
          Other tabs will be created and filled soon, in the meantime check out my github and resume for more information!
          This site was created with mobile in mind, and should work well with all mobile devices.
        </p>
      </div>
      <% include ../partials/footer %>

    </div>


    <% include ../partials/footer %>
</body>

</html>
