<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../partials/scripts %>
    <% include ../partials/style %>
</head>

<body>
    <h1 class="text-center">Aaron T Hammer</h1>
    <img class="block-center" src="/img/wip.png" alt="Work in progress">
</body>

</html>