<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>


  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>Welcome to Aaron Hammer's Website!</h1>
      <h3>
        Some quick information:
        <br />
        Website will be updated around my school shedule.
        <br />
        <br />
        Website is hosted on heroku to not occur payments from AWS.
        <br />
        <br />
        Other tabs will be created and filled soon, in the meantime check out my github and resume for more information!
        <br />
        <br />
        This site was created with mobile (or desktop and device toolbar) in mind, works best with any screen larger then an iPhone 5  or resolution 375px x 550px and up in portrait mode.
      </h3>

    </div>

  </div>


  <% include ../partials/footer %>
</body>

</html>
