<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Projects | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">

    <div id="main-content">
      <h2>Projects</h2>
      <h3>13chan.co</h3>
      <h3>Personal Website</h3>
      <h3>Chrome Group Notifier Extension</h3>
      <h3>Java Based Clue</h3>
            
    </div>
  </div>
  <% include ../partials/footer %>
</body>

</html>
