<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Projects | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>

  <div class="main">
    <div id="main-content">
      <div class="parallax">
        <h1>13chan</h1>
      </div>
      <div class="parallax">
        <h1>13chan</h1>
      </div>
      <div class="parallax">
        <h1>13chan</h1>
      </div>
      <div class="parallax">
        <h1>13chan</h1>
      </div>
      <div class="parallax">
        <h1>13chan</h1>
      </div>
      <div class="parallax">
        <h1>13chan</h1>
      </div>
    </div>
  </div>
  <% include ../partials/header %>
</body>

</html>
