<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skills | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>Skills</h1>
      <h3>Java</h3>
      <h3>C++</h3>
      <h3>Python</h3>
      <h3>VBScript</h3>

    </div>

  </div>
  <% include ../partials/footer %>
</body>

</html>
