<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skills | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <h1>Skills</h1>
      <h2>Java</h2>
      <h2>C++</h2>
      <h2>Python</h2>
      <h2>VBScript</h2>

    </div>

  </div>
  <% include ../partials/footer %>
</body>

</html>
