<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skills | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
      <div class="text-left">
        <h1>Skills</h1>
        <h2>Java</h2>
        <h3>
          <ul>
            <li>Used in Java based clue.</li>
            <ul>
              <li><a href="https://github.com/athammer/Clue" target="_blank">Clue's GitHub</a></li>
              <li><a href="http://athammer.me/projects#clue" target="_blank">Clue's project page</a></li>
            </ul>
          </ul>
        </h3>

        <h2>JavaScript</h2>
        <h3>
          <ul>
            <li>13chan uses Node.js, jQuery, and plain Jvascript in it's backend and frontend.</li>

            <ul>
              <li><a href="https://github.com/athammer/13chan" target="_blank">13chan's GitHub</a></li>
              <li><a href="https://13chan.co" target="_blank">13chan's website</a></li>
              <li><a href="http://athammer.me/projects#13chan" target="_blank">13chan's project page</a></li>
            </ul>
            <li>My Google chrome extension also uses Javascript and jQuery to power the app.</li>
            <ul>
              <li><a href="https://github.com/athammer/Electro-Legion-Group-Extension" target="_blank">Extension's GitHub</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/electro-legion-group-noti/eheaikjmbompbfeblpnidnnkfiilanie?hl=en-US" target="_blank">Extension's store page</a></li>
              <li><a href="http://athammer.me/projects#extension" target="_blank">Extension's project page</a></li>
            </ul>
          </ul>
        </h3>

        <h2>C++</h2>
        <h3>
          <ul>
            <li>Took and passed class teaching data structures and algorithms taught in C++.</li>
          </ul>
        </h3>
        <h2>Python</h2>
        <h3>
          <ul>
            <li>Created numerous small programs with Python, most notibly my Selenium UB Room Booking.</li>
            <ul>
              <li><a href="https://github.com/athammer/Selenium-UB-Room-Booking" target="_blank">Selenium UB Room Booking's GitHub</a></li>
              <li><a href="http://athammer.me/projects#libary" target="_blank">Selenium UB Room Booking's project page</a></li>
            </ul>
          </ul>
        </h3>
        <h2>VBScript</h2>
        <h3>
          <ul>
            <li>Used VBScript to create a small program to take data and make a histogram, originaly created for my father to be used in Ford.</li>
            <ul>
              <li><a href="https://github.com/athammer/VBScript-Excel-Program" target="_blank">GitHub</a></li>
              <li><a href="http://athammer.me/projects#histogram" target="_blank">Project page</a></li>
            </ul>
          </ul>
        </h3>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

    </div>

  </div>


  <% include ../partials/footer %>
</body>

</html>
