<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skills | Aaron Taylor Hammer</title>
  <% include ../partials/scripts %>
  <% include ../partials/style %>
</head>

<body>
  <% include ../partials/header %>
  <div class="main">
    <div id="main-content">
    </div>

    <div class="parallaxPanel">
      Scroll Up and Down this page to see the parallax scrolling effect.
      This div is just here to enable scrolling.
      Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
    <div id="parallaxJava">
    </div>
    <div class="parallaxPanel">
      Scroll Up and Down this page to see the parallax scrolling effect.
      This div is just here to enable scrolling.
      Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
    <div id="parallaxJava">
    </div>
    <div class="parallaxPanel">
      Scroll Up and Down this page to see the parallax scrolling effect.
      This div is just here to enable scrolling.
      Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
    <div id="parallaxJava">
    </div>
  </div>
  <% include ../partials/footer %>
</body>

</html>
