<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
</head>

<body>
    <% include ../../partials/header %>
    <div class="jumbotron">
        <div class="container">
            <h1>Boy Scouts</h1>
        </div>
    </div>
    <hr>
    <h2><b>Eagle Scout Project:</b></h2>
    <h3>
        <p>
      
        </p>
    </h3>
    <br>
    <h2><b>Camp Outs:</b></h2>
    <h3>
        <p>
        </p>
    </h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>