<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron T Hammer</title>
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
</head>

<body>
    <% include ../../partials/header %>
    <h3 class="text-center">Under Construction</h3>
    <img class="block-center" width="620" src='/img/truck.gif'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>