.home-mount-react {
  width: 100%;
  height: 100%;
}

.home-animation {
  position: relative;
  font-weight: 200;
  font-size: 5em;
  font-weight: bold;
  display: table;
  margin: 0 auto;

  .sub-letters {
    color: white;
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
    font-size: .85em;
  }
}

.home-animation .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  text-align: center;
}

.home-animation .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.icon-animation {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.icon-animation .icon {
  opacity: 0;
  display: inline-block;
  line-height: 1em;
}

.letters {
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.icons {
  display: table;
  margin: 0 auto;

  .icon {
    font-size: 140px;
    color: white;
    padding: 20px;
  }
}

.text-muted {
  text-align: center;
}

.divRepo {
  display: flex;
  justify-content: center;
  .repo {
    color: #97c9ff;
    text-decoration: none;
  }
}





.tippy-tooltip.home-theme .tippy-backdrop {
  background: white;
  color: black;
}

.tippy-tooltip.home-theme {
  color: black;
  background: white;
}

.tippy-tooltip.home-theme .tippy-roundarrow {
  fill: white;
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.home-theme .tippy-arrow {
  border-top-color: white;
}

.tippy-popper[x-placement^='bottom'] .tippy-tooltip.home-theme .tippy-arrow {
  border-bottom-color: white;
}

.tippy-popper[x-placement^='left'] .tippy-tooltip.home-theme .tippy-arrow {
  border-left-color: white;
}

.tippy-popper[x-placement^='right'] .tippy-tooltip.home-theme .tippy-arrow {
  border-right-color: white;
}




@media screen and (max-width: 1000px) {
  .text-wrapper {
    font-size: .90em;
  }
}

@media screen and (max-width: 800px) {
  .text-wrapper {
    font-size: .75em;
  }
}

@media screen and (max-width: 680px) {
  .text-wrapper {
    font-size: .60em;
  }
}

@media screen and (max-width: 515px) {
  .text-wrapper {
    font-size: .52em;
  }

  svg.fa-github {
    width: .75em !important;
  }

  svg.fa-linkedin {
    width: .75em !important;
  }

  svg.fa-file {
    width: .75em !important;
  }
}

@media screen and (max-width: 450px) {
  .text-wrapper {
    font-size: .42em;
    word-wrap: break-word;
  }

  svg.fa-github {
    width: .45em !important;
  }

  svg.fa-linkedin {
    width: .45em !important;
  }

  svg.fa-file {
    width: .45em !important;
  }
}

@media screen and (max-width: 360px) {
  .text-wrapper {
    font-size: .38em;
  }
}

@media screen and (max-width: 310px) {
  .text-wrapper {
    font-size: .28em;
  }

  svg.fa-github {
    width: .35em !important;
  }

  svg.fa-linkedin {
    width: .35em !important;
  }

  svg.fa-file {
    width: .35em !important;
  }
}
